{% extends '::admin_base.html.twig' %}

{% block body -%}
    <h1>Tworzenie rezerwacji</h1>

    {{ form(form) }}


        <a class="button" href="{{ path('admin_booking') }}">
            Powrót do rezerwacji
        </a>

{% endblock %}
