{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Standard edit</h1>

    {{ form(edit_form) }}


        <a class="button" href="{{ path('admin_standard') }}">
            Powrót do listy
        </a>

        {{ form(delete_form) }}

{% endblock %}
