{% extends '::admin_base.html.twig' %}

{% block body -%}
    <h1>Tworzenie nowego standardu</h1>

    {{ form(form) }}

        <a class="button" href="{{ path('admin_standard') }}">
            Powrót do listy
        </a>

{% endblock %}
