<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/foundation.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        {% block topbar %} {% endblock %}
        
    <div id="page">
        <div class="fullWrapper">                   
            {% block body %}{% endblock %}
        </div>
    </div>
        
        
        {% block javascripts %}
            {# Foundation #}
            <script src="{{ asset('js/vendor/jquery.js') }}"></script>
            <script src="{{ asset('js/foundation.min.js') }}"></script>
            <script>
              $(document).foundation();
            </script>
        {% endblock %}
    </body>
</html>
