{% extends '::admin_base.html.twig' %}

{% block body -%}
    <h1>Dodawanie pracownika</h1>

    {{ form(form) }}


        <a class="button" href="{{ path('admin_worker') }}">
            Powrót do listy
        </a>


{% endblock %}
