{% extends '::admin_base.html.twig' %}

{% block body -%}
    <h1>Edycja Pokoju</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="button" href="{{ path('admin_room') }}">
            Powrót do listy
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
